@keyframes Fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.ContextMenu {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 100;
    padding: 5px;
    min-width: 150px;
    max-height: 300px;
    border-radius: 3px;
    background-color: var(--background1);
    box-shadow: 8px 8px 12px -10px rgb(19, 19, 19);
}
.ContextMenu.shown {
    display: flex;
    animation-name: Fade;
    animation-fill-mode: forwards;
    animation-duration: .11s;
}
.ContextMenu > .ContextMenuItem {
    display: flex;
    user-select: none;
    align-items: center;
    box-sizing: content-box;
    cursor: pointer;
    border-radius: 3px;
    padding: 5px;
    width: calc(100% - 10px);
    font-size: 14px;
    color: white;
    transition: background-color 0.1s;
}
.ContextMenu > .ContextMenuItem:hover {
    background-color: var(--primary);
    transition: background-color 0.1s;
}
.ContextMenu > .ContextMenuItem > .MuiSvgIcon-root {
    margin-left: auto;
}