:root {
    --background1: #202226;
    --background2: #37393f;
    --background3: #2f3137;
    --background4: #37393f;
    --background5: #232429;
    --disabled: #9a9ca3;
    --defaultUserAvatar: 'https://cdn-icons-png.flaticon.com/512/149/149071.png';
}